<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SiteCollectionURL" value="https://onet2.sharepoint.com/sites/intranet/"/>
    <add key="UserId" value="ssukul@OfficeWorks.com.au"/>
    <add key="Password" value=""/>
    <add key="OutputDirectory" value="c:\Temp"/>
    <add key="ContentTypeGroupName" value="Officeworks"/>
    <add key="ColumnGroupName" value="Officeworks"/>
  </appSettings>
</configuration>