<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SiteCollectionURL" value=""/>
    <add key="UserId" value=""/>
    <add key="Password" value=""/>
    <add key="OutputDirectory" value="c:\Temp"/>
    <add key="ContentTypeGroupName" value=""/>
    <add key="ColumnGroupName" value=""/>
  </appSettings>
</configuration>