<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SiteCollectionURL" value="https://company.sharepoint.com/sites/intranet/"/>
    <add key="UserId" value="user@company.com"/>
    <add key="Password" value="password"/>
    <add key="OutputDirectory" value="c:\Temp"/>
    <add key="ContentTypeGroupName" value="Company"/>
    <add key="ColumnGroupName" value="Company"/>
  </appSettings>
</configuration>